<h1>Welcome to Influent</h1>

<h4>In short, Influent is a marketplace for buying and selling social media influence.
  The primary ‘product’ of the marketplace would be social media influencers
  who would sell their social media influence (untapped marketing potential) to advertisers
  looking for cheap, convenient, highly targeted marketing opportunities.
</h4>

<h2>Value Add:</h2>
<h3>Brands</h3>
<ul>
  <li>- Advertisers of all sizes will have direct access to a massive pool of social media influencers as potential marketers for their products. This would have otherwise been a time-consuming and less accurate process.</li>
  <li>- Advertisers will be able to filter through influencers using various parameters to identify potential partnerships in high alignment with target market and current business needs</li>
  <li>- Advertisers can use social media influencers to A/B test engagement/sales within various target markets, cheaply and easily.</li>
</ul>
<h3>Influencers</h3>
<ul>
  <li>- Those who qualify for the platform will be able to monetize their social media platform with minimal effort, just by having a legitimized influencer account on the platform - advertisers will be able to find them</li>
  <li>- Influencers who want to be more aggressive about growing/marketing their social media influence will be able to offer their influence directly to advertisers, as well.</li>
  <li>- Those with Instagram/Youtube accounts will have a strong incentive to organically grow their follower base larger, to qualify as an influencer or to open the door for greater marketing opportunities.</li>
</ul>
