<header class="masthead">
  <div class="masthead-logo">
    <a class="masthead-logo" ui-sref="defaultHome"><h1>Influent</h1></a>
  </div>
  <div class="masthead-filler"></div>
  <div class="masthead-nav">
    <!-- <h5>Log In</h5>
    <h5>Sign Up</h5> -->
    <button class="instagram-login-cta" ng-click="view.authenticateInstagram()">Login with Instagram</button>
    <button class="instagram-login-cta" ng-click="view.returnInstagramClientId()">Client ID</button>
  </div>
</header>

<nav class="temp-nav">
  <a ui-sref="influencerOverview"><h5>Dashboard</h5></a>
  <a ui-sref="directoryMain"><h5>Directory</h5></a>
  <a ui-sref="about"><h5>About</h5></a>
</nav>
